{% load filter_url %}
<aside>
    <div
            class="layout widget-type_system_widget_v4_sidebar_filter_1"
            style="--font-size-filter:1.25rem; --font-weight-filter:600; --display-property-color:text; --hide-sorting-on-mobile:false; --layout-pt:0vw; --layout-pb:0vw; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">
            <form action="/catalog/" method="get" class="filter">
                <div class="filter__content">
                    <div class="filter__head">
                        <div class="filter__head-title">Фильтры</div>
                        <div class="filter__head-reset">
                            <span class="button-link filter__reset-btn js-reset-filter">Сбросить</span>
                        </div>
                        <button type="button"
                                class="button button_size-m filter__hide-mobile-filter-btn js-hide-mobile-filter">
                            <span class="icon icon-times"></span>
                        </button>
                    </div>
                    <div class="filter__items">


                    <div class="filter-item filter-item_price">
                        <div class="filter-item__head">
                            <span class="filter-item__name js-toggle-show-filter-item">Цена</span>

                        </div>
                        <div class="filter-item__content">
                                <div class="filter-range__slider"></div>
                                <div class="filter-range__values">
                                    <div class="filter-range__values-item">
                                        <span class="filter-range__values-label">от</span>
                                        <input
                                                class="form-control form-control_size-s filter-range__field filter-range__field-min"
                                                type="text"
                                                name="price_min"
                                                value="{% filter_value 'price_min' request.GET.urlencode %}"
                                                disabled
                                        />
                                    </div>
                                    <div class="filter-range__values-item">
                                        <span class="filter-range__values-label">до</span>
                                        <input
                                                class="form-control form-control_size-s filter-range__field filter-range__field-max"
                                                type="text"
                                                name="price_max"
                                                value="{% filter_value 'price_max' request.GET.urlencode %}"
                                                disabled
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="filter-item filter-item_option">
                            <div class="filter-item__head">
                                <span class="filter-item__name js-toggle-show-filter-item">Страна</span>
                            </div>
                            <div class="filter-item__content">
                                <div class="filter-item__list">

                                    <div class="filter-item__list-item">
                                        <label class="filter-option _checkbox">
                                            <input autocomplete="off" class="filter-option__field" type="checkbox"
                                                   value="option_1"
                                                   name="country"
                                            />
                                            <span class="filter-option__content">
                                              <span class="filter-option__btn icon-check"></span>
                                              <span class="filter-option__label">option 1</span>
                                            </span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="filter__controls">
                            <button class="button button_wide" type="submit">Применить</button>
                        </div>
                    </div>
                </div>
            </form>


            <div class="filter-mobile-controls">
                <div class="collection-sort">
                    <form class="collection-order-wrapper" action="" method="get">
                        <div class="collection-order is-sort">
                            <div class="select-wrapper">
                                <select class="js-sorting-trigger form-control form-control_size-m" name="order">
                                    <option value=''>Сортировка</option>
                                    <option value='-id'>сначала новые</option>
                                    <option value='name'>по названию</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <button type="button" class="button button_size-m show-mobile-filter-btn js-show-mobile-filter">
                    <span class="icon icon-sliders"></span>
                    <span class="show-mobile-filter-btn__bage icon-check"></span>
                </button>
            </div>
        </div>
    </div>
    <div
            class="layout widget-type_system_widget_v4_sidebar_collections_menu_1"
            style="--hide-title:true; --layout-pt:0vw; --layout-pb:0vw; --hide-desktop:false; --hide-mobile:true;">
        <div class="layout__content">
            <div class="sidebar-collections">
                <ul class="sidebar-collections__menu" data-navigation>
                    {% for main_group, groups in groups_catalog.items %}
                    <li class="sidebar-collections__item">
                        <div class="sidebar-collections__controls with-submenu">
                            <a href="{% filter_url main_group.name 'group' request.GET.urlencode %}" class="sidebar-collections__link">
                                {{ main_group.name }}
                            </a>
                            <button class="button button_size-s sidebar-collections__show-submenu-btn js-show-submenu"
                                    type="button">
                                <span class="icon icon-angle-down"></span>
                            </button>
                        </div>

                        {% for group in groups %}
                        <ul class="sidebar-collections__submenu">
                            <li class="sidebar-collections__item">
                                <div class="sidebar-collections__controls ">
                                    <a href="{% filter_url group.name 'group' request.GET.urlencode %}" class="sidebar-collections__link">
                                        {{ group.name }}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</aside>

