<footer>

    <div class="layout widget-type_system_widget_v4_footer_3">
        <div class="layout__content">

            <div class="footer-wrap">
                <div class="footer-top">
                    <div class="footer__area-menu">


                        <div class="menu-item" data-menu-handle="store">

                            <div class="menu-title">
                                О магазине Марком
                                <button class="menu-show-submenu-btn js-show-mobile-submenu" type="button">
                                    <span class="icon icon-angle-down"></span>
                                </button>
                            </div>


                            <a class="menu-link "
                               href="/page/contacts"
                               data-menu-item-id="10683239"
                            >
                                Адреса магазинов
                            </a>


                            <a class="menu-link "
                               href="/page/aktsii"
                               data-menu-item-id="10759717"
                            >
                                Акции и скидки
                            </a>


                            <a class="menu-link "
                               href="/page/feedback"
                               data-menu-item-id="10683236"
                            >
                                Юридическим лицам
                            </a>


                            <a class="menu-link "
                               href="/blogs/blog"
                               data-menu-item-id="10683235"
                            >
                                Как заказать
                            </a>


                            <a class="menu-link "
                               href="/collection/all"
                               data-menu-item-id="10683238"
                            >
                                Обмен и возврат
                            </a>

                        </div>


                        <div class="menu-item" data-menu-handle="clients">

                            <div class="menu-title">
                                Покупателям
                                <button class="menu-show-submenu-btn js-show-mobile-submenu" type="button">
                                    <span class="icon icon-angle-down"></span>
                                </button>
                            </div>


                            <a class="menu-link "
                               href="/client_account/login"
                               data-menu-item-id="10759639"
                            >
                                Личный кабинет
                            </a>


                            <a class="menu-link "
                               href="/page/moi-zakazy"
                               data-menu-item-id="10759640"
                            >
                                Мои заказы
                            </a>


                            <a class="menu-link "
                               href="/page/voprosy-i-otvety"
                               data-menu-item-id="10759641"
                            >
                                Вопросы и ответы
                            </a>


                            <a class="menu-link "
                               href="/page/politika-vozvrata"
                               data-menu-item-id="10759642"
                            >
                                Политика возврата
                            </a>

                        </div>


                        <div class="menu-item" data-menu-handle="info">

                            <div class="menu-title">
                                Информация
                                <button class="menu-show-submenu-btn js-show-mobile-submenu" type="button">
                                    <span class="icon icon-angle-down"></span>
                                </button>
                            </div>


                            <a class="menu-link "
                               href="/page/oferta"
                               data-menu-item-id="10683232"
                            >
                                Политика конфиденциальности и оферта
                            </a>


                            <a class="menu-link "
                               href="/page/agreement"
                               data-menu-item-id="10683233"
                            >
                                Пользовательское соглашение
                            </a>

                        </div>


                    </div>
                    <div class="footer__area-sidebar">
                        <div class="footer__area-social">

                            <div class="title">Мы в соц. сетях</div>

                            <div class="social-items">


                                <div class="social-img-item">
                                    <img src="/static/img/dz.svg"/>
                                </div>


                                <div class="social-img-item">
                                    <img src="/static/img/twitter.svg"/>
                                </div>


                                <div class="social-img-item">
                                    <img src="/static/img/vk.svg"/>
                                </div>


                                <div class="social-img-item">
                                    <img src="/static/img/yt.svg"/>
                                </div>


                                <div class="social-img-item">
                                    <img src="/static/img/telegram.svg"/>
                                </div>


                            </div>
                        </div>
                        <div class="footer__area-contacts">


                            <div class="footer__phone">
                                <a class="footer__phone-value" href="tel:+78008008080">+7(800) 800-80-80</a>

                                <div class="phone-info">справочная служба</div>

                            </div>


                            <div class="footer__phone">
                                <a class="footer__phone-value" href="tel:+78008008080">+7(800) 800-80-80</a>

                                <div class="phone-info">интернет-магазин</div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="footer-bottom">

                    <div class="footer__area-logo">
                        <a href="/" class="footer__logo">
                            <img src="/static/img/markom_logo_bw.svg"
                                 alt="Интернет-магазин Марком" title="Интернет-магазин Марком"/>
                        </a>
                    </div>

                    <div class="footer__area-pay">


                        <div class="pay-img-item">
                            <img src="/static/img/Group.svg"/>
                        </div>


                        <div class="pay-img-item">
                            <img src="/static/img/Visa.svg"/>
                        </div>


                        <div class="pay-img-item">
                            <img src="/static/img/mir-logo_1.svg"/>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_footer_4">
        <div class="layout__content">
            <div class="footer">
                <div class="footer_copyright-1">
                    <p>© 2020 Разрешено любое использование контента... Но это не точно</p>
                </div>
                <div class="footer_copyright-2">
                    <a href='https://www.insales.ru/' target='_blank'>Интернет-магазин создан на InSales</a>
                </div>
            </div>
        </div>
    </div>
</footer>
