{% load filter_url %}
<header>
    <link media='print' onload='this.media="all"' rel='stylesheet' type='text/css'
          href='/static/css/jquery.modal.css'>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <div class="layout widget-type_system_widget_v4_header_1">
        <div class="layout__content">
            <div class="header">
                <div class="header__mobile-head">
                    <div class="header__mobile-head-content">
                        <button type="button"
                                class="button button_size-l header__hide-mobile-menu-btn js-hide-mobile-menu">
                            <span class="icon icon-times"></span>
                        </button>


                        <div class="header__mobile-languages">

                            <a href="?lang=en" class="header__language ">en</a>

                            <a href="?lang=ru" class="header__language is-active">ru</a>

                            <a href="?lang=es" class="header__language ">es</a>

                        </div>


                    </div>
                </div>

                <div class="header__content">
                    <div class="header-part-top">
                        <div class="header-part-top__inner">
                            <div class="header__area-menu">
                                <ul class="header__menu js-cut-list" data-navigation data-navigation
                                    data-menu-handle="main-menu">

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683226">
                                        <div class="header__menu-controls">
                                            <a href="/catalog/" class="header__menu-link">
                                                Каталог
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683227">
                                        <div class="header__menu-controls">
                                            <a href="/page/about-us" class="header__menu-link"
                                               data-navigation-link="/page/about-us">
                                                О компании
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683228">
                                        <div class="header__menu-controls">
                                            <a href="/page/contacts" class="header__menu-link"
                                               data-navigation-link="/page/contacts">
                                                Контакты
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683229">
                                        <div class="header__menu-controls">
                                            <a href="/page/delivery" class="header__menu-link"
                                               data-navigation-link="/page/delivery">
                                                Доставка
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683230">
                                        <div class="header__menu-controls">
                                            <a href="/page/payment" class="header__menu-link"
                                               data-navigation-link="/page/payment">
                                                Оплата
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683231">
                                        <div class="header__menu-controls">
                                            <a href="/client_account/login" class="header__menu-link"
                                               data-navigation-link="/client_account/login">
                                                Личный кабинет
                                            </a>
                                        </div>
                                    </li>

                                    <li class="header__menu-item" data-navigation-item data-menu-item-id="10683237">
                                        <div class="header__menu-controls">
                                            <a href="/blogs/blog" class="header__menu-link"
                                               data-navigation-link="/blogs/blog">
                                                Блог
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="header__area-text">

                                <div class="header__work-time">Доставка с 8:00 до 23:00</div>

                            </div>

                            <div class="header__area-contacts">


                                <div class="header__phone">
                                    <a class="header__phone-value" href="tel:+78008008080">+7(800) 800-80-80</a>
                                </div>


                            </div>


                            <div class="header__area-language">

                                <a href="?lang=en" class="header__language ">en</a>

                                <a href="?lang=ru" class="header__language is-active">ru</a>

                                <a href="?lang=es" class="header__language ">es</a>

                            </div>


                        </div>
                    </div>


                    <div class="header-part-main">
                        <div class="header-part-main__inner">
                            <div class="header__area-logo">
                                <span class="header__logo">
                                  <img src="/static/img/markom_logo.svg"
                                       alt="Интернет-магазин Марком" title="Интернет-магазин Марком"/>
                                </span>


                            </div>

                            <div class="header__area-catalog">
                                <button type="button"
                                        class="button button_size-l header__show-collection-btn js-show-header-collections">
                                    <span class="icon icon-bars _show"></span>
                                    <span class="icon icon-times _hide"></span>
                                    Каталог
                                </button>
                            </div>

                            <div class="header__area-search">
                                <div class="header__search">
                                    <form action="/search" method="get" class="header__search-form">
                                        <input type="text" autocomplete="off"
                                               class="form-control form-control_size-l header__search-field"
                                               name="q" value="" placeholder="Поиск"/>
                                        <button type="submit" class="button button_size-l header__search-btn">
                                            <span class="icon icon-search"></span>
                                        </button>
                                        <input type="hidden" name="lang" value="ru">
                                    </form>
                                    <button type="button"
                                            class="button button_size-l header__search-mobile-btn js-show-mobile-search">
                                        <span class="icon icon-search _show"></span>
                                        <span class="icon icon-times _hide"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="header__area-controls">

                                <a href="/client_account/orders" class="header__control-btn header__cabinet">
                                    <span class="icon icon-user"></span>
                                </a>


                                <a href="/compares" class="header__control-btn header__compare"
                                   data-compare-counter-btn>
                                  <span class="icon icon-compare">
                                    <span class="header__control-bage" data-compare-counter>0</span>
                                  </span>
                                </a>


                                <a href="/cart_items" class="header__control-btn header__cart">
                                    <span class="icon icon-cart">
                                      <span class="header__control-bage" data-cart-positions-count></span>
                                    </span>
                                    <span class="header__control-text" data-cart-total-price></span>
                                </a>
                            </div>

                            <!--Пункты меню-->
                            <div class="header__collections">
                                <div class="header__collections-content">
                                    <div class="header__collections-head">Каталог</div>


                                    <ul class="grid-list header__collections-menu" data-navigation
                                        data-subcollections-items-limit=10>

                                        {% for main_group, groups in groups_catalog.items %}
                                            <li class="header__collections-item is-level-1" data-navigation-item>


                                                <a href="/catalog/{% filter_url main_group.name 'group' request.GET.urlencode %}"
                                                   class="img-ratio img-ratio_cover header__collections-photo">
                                                    <div class="img-ratio__inner">

                                                        <img src="{{ main_group.image.url }}" alt="{{ main_group.name }}">

                                                    </div>
                                                </a>


                                                <div class="header__collections-controls">
                                                    <a href="/catalog/{% filter_url main_group.name 'group' request.GET.urlencode %}"
                                                       class="header__collections-link">
                                                        {{ main_group }}
                                                    </a>


                                                    <button class="header__collections-show-submenu-btn js-show-mobile-submenu"
                                                            type="button">
                                                        <span class="icon icon-angle-down"></span>
                                                    </button>

                                                </div>


                                                    <ul class="header__collections-submenu">
                                                        {% for group in groups %}
                                                        <li class="header__collections-item ">
                                                            <div class="header__collections-controls">
                                                                <a href="/catalog/{% filter_url group.name 'group' request.GET.urlencode %}"
                                                                   class="header__collections-link">
                                                                    {{ group }}
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}

                                            </ul>

                                            <div class="header__collections-show-more ">
                                              <span class="button-link header__collections-show-more-link js-show-more-subcollections">
                                                <span class="header__collections-show-more-text-show">Показать все</span>
                                                <span class="header__collections-show-more-text-hide">Скрыть</span>
                                                <span class="icon icon-angle-down"></span>
                                              </span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-mobile-panel">
                <div class="header-mobile-panel__content">
                    <button type="button"
                            class="button button_size-l header-mobile-panel__show-menu-btn js-show-mobile-menu">
                        <span class="icon icon-bars"></span>
                    </button>

                    <div class="header-mobile-panel__logo">

                        <span class="header__logo">
                          <img src="/static/img/markom_logo.svg" alt="Интернет-магазин Марком"
                               title="Интернет-магазин Марком"/>
                        </span>


                    </div>

                    <div class="header-mobile-panel__controls">
                        <a href="/cart_items" class="header__control-btn header__mobile-cart">
                            <span class="icon icon-cart">
                              <span class="header__control-bage" data-cart-positions-count></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="header__collections-overlay"></div>
        </div>
    </div>
</header>