{% extends 'shop/base.html' %}
{% load verbose_names filter_url %}
{% block layout_class %}
    <div class="page_layout page_layout_normal_left page_layout_section_top ">
{% endblock layout_class %}
{% block content %}
<section class="page_section_top">

    <div
            class="layout widget-type_system_widget_v4_breadcrumbs_1"
            style="--delemeter:1; --align:start; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">
            <div class="breadcrumb-wrapper delemeter_1">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item home">
                        <a class="breadcrumb-link" title="Главная" href="/">Главная</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="breadcrumb-page">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div
            class="layout widget-type_system_widget_v4_collection_sort_1"
            style="--hide-sorting-on-mobile:true; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">
            <div class="collection-toolbar">
                <h1 class="heading">
                    Каталог
                </h1>
                <div class="collection-sort">
                    <form class="collection-order-wrapper" action="" method="get">
                        <div class="collection-order is-sort">
                            <div class="select-wrapper">
                                <select class="js-filter-trigger form-control form-control_size-m" name="order">
                                    <option value=''>Сортировка</option>
                                    <option value='-id'>сначала новые</option>
                                    <option value='name'>по названию</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<main>
    <div
            class="layout widget-type_system_widget_v4_subcollections_1"
            style="--grid-list-min-width:220px; --grid-list-row-gap:2rem; --grid-list-column-gap:2rem; --img-ratio:1; --img-fit:contain; --subcollection-border-radius:0px; --card-font-size:20px; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">
            <div class="subcollection-list grid-list">
                <!-- Категория -->
                {% for main_group, groups in groups_catalog.items %}
                <a href="{% filter_url main_group.name 'group' request.GET.urlencode %}" class="subcollection-list__item">
                    <div class="img-ratio img-fit subcollection-list__item-photo">
                        <div class="img-ratio__inner">
                            <img src="{{ main_group.image.url }}" alt="{{ main_group.name }}">
                        </div>
                    </div>
                    <div class="subcollection-list__item-title">
                        {{ main_group.name }}
                    </div>
                </a>

                {% endfor %}

            </div>


        </div>
    </div>

    <!-- Конец категории -->

    <div class="layout widget-type_system_widget_v4_catalog_1"
            style="--catalog-grid-list-min-width:220px; --catalog-grid-list-row-gap:2rem; --catalog-grid-list-column-gap:2rem; --img-ratio:1; --img-fit:contain; --switch-img-on-hover:false; --product-desc-limit:20; --hide-description:true; --product-border-radius:10px; --sticker-font-size:0.9rem; --display-property-color:text; --hide-variants:false; --hide-variants-title:true; --hide-sku:true; --catalog-grid-list-min-width-mobile:150px; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">


            <div class="catalog">
                <div class="grid-list catalog-list">

                    <!-- Товар -->
                    {% for product in products %}
                    <form
                            action="/cart_items"
                            method="post"
                            class=
                            {% if product.quantity != 0 %}
                                "product-preview is-zero-count-shown is-forbid-order-over-existing "
                            {% else %}
                                "product-preview is-zero-count-shown is-forbid-order-over-existing not-available"
                            {% endif %}
                    >
                        <div class="product-preview__content">
                            <div class="product-preview__area-photo">
                                <div class="product-preview__photo">

                                    <div class="img-ratio img-ratio_cover">
                                        <div class="img-ratio__inner">

                                            <a href="/product/{{ product.id }}">

                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">

                                            </a>
                                        </div>
                                    </div>
                                    {% if product.quantity == 0 %}
                                        <div class="product-preview__available">
                                            <span>Нет в наличии</span>
                                        </div>
                                    {% endif %}
                                    <div class="stickers">
                                        {% if product.use_price_type.id == 2 %}
                                        <div class="sticker sticker-sale">
                                            Акция
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


                            <div class="product-preview__area-title">
                                <div class="product-preview__title">
                                    <a href="/product/{{ product.id }}">{{ product.name }}, {{product.base_unit }}</a>
                                    <p>{% get_verbose_field_name product "vendor_code" %}: {{ product.vendor_code }}</p>
                                </div>
                            </div>

                            <div class="product-preview__area-variants">

                                <input type="checkbox" name="variant_id" value="option 1"> option 1
                                <input type="checkbox" name="variant_id" value="option 2"> option 2

                            </div>

                            <div class="product-preview__area-bottom">
                                <div class="product-preview__price">
                                    {% for price in product.prices_set.all %}
                                        {% if product.use_price_type.id == 2 %}
                                            {% if price.price_type.id == 1 and price.price != 0 %}
                                                <span class="product-preview__price-old" data-product-card-old-price>
                                                    {{ price.price }} {{ price.currency.simbol }}
                                                </span>
                                            {% else %}
                                                <span class="product-preview__price-cur">
                                                    {{ price.price }} {{ price.currency.simbol }}
                                                </span>
                                            {% endif %}
                                        {% else %}

                                            <span class="product-preview__price-cur">
                                                    {{ price.price }} {{ price.currency.simbol }}</span>
                                            <span class="product-preview__price-old" style="visibility: hidden">
                                                            0
                                                </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                    <div class="product-preview__controls">
                                        {% if product.quantity != 0 %}
                                            <div class="add-cart-counter">
                                                <button type="button" class="button add-cart-counter__btn">
                                                    <span class="add-cart-counter__btn-label">В корзину</span>
                                                    <span class="button__icon icon-cart"></span>
                                                </button>

    <!--                                   TODO сделать добавление количества (нужно добавить корзину) -->
    <!--                                                            <div class="add-cart-counter__controls">-->
    <!--                                                                <button-->
    <!--                                                                        class="button add-cart-counter__controls-btn"-->
    <!--                                                                        type="button">- -->
    <!--                                                                </button>-->
    <!--                                                                <a href="/cart_items"-->
    <!--                                                                   class="button add-cart-counter__detail">-->
    <!--                                  <span class="add-cart-counter__detail-text">-->
    <!--                                    <span class="add-cart-counter__detail-label">В корзине</span>-->
    <!--                                    <span class="add-cart-counter__detail-count"></span>-->
    <!--                                    кг-->
    <!--                                  </span>-->
    <!--                                                                    <span class="add-cart-counter__detail-dop-text">Перейти</span>-->
    <!--                                                                </a>-->
    <!--                                                                <button-->
    <!--                                                                        class="button add-cart-counter__controls-btn"-->
    <!--                                                                        type="button">+-->
    <!--                                                                </button>-->
    <!--                                                            </div>-->
                                    </div>
                                {% else %}
                                    <button type="button" class="button add-cart-counter__btn">
                                        <span class="add-cart-counter__btn-label">Подробнее</span>
                                        <span class="button__icon icon-cart"></span>
                                    </button>
                                {% endif %}
                                </div>
                            </div>
                        </div>

                    </form>
                    {% endfor %}

                    <!-- Конец Товар -->

                </div>
            </div>


        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_pagination_1"
            style="--align:center; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
    >
        <div class="layout__content">

            <div class="pagination">


                <a href="/collection/all" class="button button_size-s pagination-prev">Предыдущая</a>

                <div class="pagination-items next">


                    <a href="/collection/all" class="button button_size-s  pagination-link">
                        1
                    </a>


                    <span class=" pagination-void">
                       &hellip;
                  </span>


                    <a href="/collection/all?page=9" class="button button_size-s  pagination-link">
                        9
                    </a>


                </div>

                <a href="/collection/all?page=3" class="button button_size-s pagination-next">Следующая</a>
            </div>
        </div>
    </div>

</main>

{% include 'include/aside.html' %}


{% endblock content %}

{% block script %}
    <script src="/static/js/script-catalog.js"></script>
{% endblock script %}