{% extends 'shop/base.html' %}
{% load verbose_names %}
{% block layout_class %}
    <div class="page_layout page_layout-clear ">
{% endblock layout_class %}
{% block content %}
<main>
    <div
            class="layout widget-type_system_widget_v4_promo_slider_2">
        <div class="layout__content">
            <div class="promo-slider">
                <div class="splide js-promo-slider" data-autoplay="false" data-autoplay-delay="5">
                    <div class="splide__track">
                        <div class="splide__list">

                            <div class="splide__slide">


                                <a href="http://demo-markom.myinsales.ru/collection/kategoriya-2"
                                   class="promo-slider__item "
                                >
                                    <div class="promo-slider__item-photo">
                                        <div class="img-ratio img-ratio_cover">
                                            <div class="img-ratio__inner">


                                                <img src="static/img/slider_54342192e5cc7a74e5069b25d50c2145.webp">


                                            </div>
                                        </div>
                                    </div>
                                    <div class="promo-slider__item-content">
                                        Премиум продукты высокого качества
                                    </div>
                                </a>
                            </div>

                            <div class="splide__slide">


                                <a href="http://demo-markom.myinsales.ru/product/greypfrut-1-kg"
                                   class="promo-slider__item ">
                                    <div class="promo-slider__item-photo">
                                        <div class="img-ratio img-ratio_cover">
                                            <div class="img-ratio__inner">


                                                <img src="static/img/slider_6cb06f8b694f80e8c5137e9bbb52b55a.webp">


                                            </div>
                                        </div>
                                    </div>
                                    <div class="promo-slider__item-content">
                                        Описание для слайда 2
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="splide__arrows">
                        <button type="button" class="splide__arrow splide__arrow--prev">
                            <span class="splide__arrow-icon icon-angle-left"></span>
                        </button>
                        <button type="button" class="splide__arrow splide__arrow--next">
                            <span class="splide__arrow-icon icon-angle-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Новое поступление-->

    <div class="layout widget-type_system_widget_v4_special_products_1">
        <div class="layout__content">


            <div class="special-products js-special-products">

                <div class="special-products__head">
                    <div class="h2 special-products__title heading">Новое поступление</div>
                    <div class="special-products__slider-controls">
                        <div class="special-products__slider-arrow special-products__slider-arrow-prev js-move-slide">
                            <span class="special-products__slider-arrow-icon icon-arrow-left"></span>
                        </div>
                        <div class="special-products__slider-arrow special-products__slider-arrow-next js-move-slide">
                            <span class="special-products__slider-arrow-icon icon-arrow-right"></span>
                        </div>
                    </div>
                </div>
                <div
                        class="splide js-special-products-slider"
                        data-slide-min-width="220"
                        data-slide-min-width-mobile="150"
                        data-slide-gap="15"
                >
                    <div class="splide__track">
                        <div class="splide__list">

                            {% for product in products %}
                            <div class="splide__slide">
                                <form
                                        action="/cart_items"
                                        method="post"
                                        class=
                                            {% if product.quantity != 0 %}
                                                "product-preview is-zero-count-shown is-forbid-order-over-existing "
                                            {% else %}
                                                "product-preview is-zero-count-shown is-forbid-order-over-existing not-available"
                                            {% endif %}
                                >
                                    <div class="product-preview__content">
                                        <div class="product-preview__area-photo">
                                            <div class="product-preview__photo">
                                                <div class="img-ratio img-ratio_cover">
                                                    <div class="img-ratio__inner">
                                                        <a href="/product/{{ product.id }}">

                                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">

                                                        </a>
                                                    </div>
                                                </div>
                                                {% if product.quantity == 0 %}
                                                    <div class="product-preview__available">
                                                        <span>Нет в наличии</span>
                                                    </div>
                                                {% endif %}
                                                <div class="stickers">
                                                    {% if product.use_price_type.id == 2 %}
                                                    <div class="sticker sticker-sale">
                                                        Акция
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product-preview__area-title">
                                            <div class="product-preview__title">
                                                <a href="/product/{{ product.id }}">{{ product.name }}, {{product.base_unit }}</a>

                                                <p>{% get_verbose_field_name product "vendor_code" %}: {{ product.vendor_code }}</p>

                                            </div>
                                        </div>

                                        <div class="product-preview__area-description">
                                            {{ product.description }}
                                        </div>

                                        <div class="product-preview__area-variants">

                                            <input type="checkbox" name="variant_id" value="option 1"> option 1
                                            <input type="checkbox" name="variant_id" value="option 2"> option 2

                                        </div>

                                            <div class="product-preview__area-bottom">
                                                <div class="product-preview__price">
                                                    {% for price in product.prices_set.all %}
                                                        {% if product.use_price_type.id == 2 %}
                                                            {% if price.price_type.id == 1 and price.price != 0 %}
                                                                <span class="product-preview__price-old" data-product-card-old-price>
                                                                    {{ price.price }} {{ price.currency.simbol }}
                                                                </span>
                                                            {% else %}
                                                                <span class="product-preview__price-cur">
                                                                    {{ price.price }} {{ price.currency.simbol }}
                                                                </span>
                                                            {% endif %}
                                                        {% else %}

                                                            <span class="product-preview__price-cur">
                                                                    {{ price.price }} {{ price.currency.simbol }}</span>
                                                            <span class="product-preview__price-old" style="visibility: hidden">
                                                                            0
                                                                </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>

                                                    <div class="product-preview__controls">
                                                        {% if product.quantity != 0 %}
                                                            <div class="add-cart-counter">
                                                                <button type="button" class="button add-cart-counter__btn">
                                                                    <span class="add-cart-counter__btn-label">В корзину</span>
                                                                    <span class="button__icon icon-cart"></span>
                                                                </button>

<!--                                   TODO сделать добавление количества (нужно добавить корзину) -->
<!--                                                            <div class="add-cart-counter__controls">-->
<!--                                                                <button-->
<!--                                                                        class="button add-cart-counter__controls-btn"-->
<!--                                                                        type="button">- -->
<!--                                                                </button>-->
<!--                                                                <a href="/cart_items"-->
<!--                                                                   class="button add-cart-counter__detail">-->
<!--                                  <span class="add-cart-counter__detail-text">-->
<!--                                    <span class="add-cart-counter__detail-label">В корзине</span>-->
<!--                                    <span class="add-cart-counter__detail-count"></span>-->
<!--                                    кг-->
<!--                                  </span>-->
<!--                                                                    <span class="add-cart-counter__detail-dop-text">Перейти</span>-->
<!--                                                                </a>-->
<!--                                                                <button-->
<!--                                                                        class="button add-cart-counter__controls-btn"-->
<!--                                                                        type="button">+-->
<!--                                                                </button>-->
<!--                                                            </div>-->
                                                    </div>
                                                {% else %}
                                                    <button type="button" class="button add-cart-counter__btn">
                                                        <span class="add-cart-counter__btn-label">Подробнее</span>
                                                        <span class="button__icon icon-cart"></span>
                                                    </button>
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--Новое поступление конец-->

    <div
            class="layout widget-type_system_widget_v4_banner_list_1">
        <div class="layout__content">
            <div class="banner-list grid-list">


                <a href="http://demo-markom.myinsales.ru/collection/hleb-bulki" data-block-id="12949928"
                   class="banner-list__item  editable-block">

                    <div class="img-ratio img-ratio_cover banner-list__item-photo">
                        <div class="img-ratio__inner">


                            <img src="static/img/Фото__1__30c808e084e105a227882e1636244385.jpg"
                                 alt="Торты, десерты, сладкая выпечка">


                        </div>
                    </div>

                    <div class="banner-list__item-title">
                        Торты, десерты, сладкая выпечка
                    </div>

                </a>


                <a href="http://demo-markom.myinsales.ru/collection/katalog-3" data-block-id="12949929"
                   class="banner-list__item  editable-block">

                    <div class="img-ratio img-ratio_cover banner-list__item-photo">
                        <div class="img-ratio__inner">

                            <img src="static/img/Фото__2__e78b48ddab492850af7be20330e5c7f5.jpg"
                                 alt="Рыба, икра, морепродукты">


                        </div>
                    </div>

                    <div class="banner-list__item-title">
                        Рыба, икра, морепродукты
                    </div>

                </a>


                <a href="http://demo-markom.myinsales.ru/collection/kategoriya-2" data-block-id="12949930"
                   class="banner-list__item  editable-block">

                    <div class="img-ratio img-ratio_cover banner-list__item-photo">
                        <div class="img-ratio__inner">

                            <img src="static/img/Фото__5__84a2eb6778c039af2c5768830b807d21.jpg" alt="Баннер 3">

                        </div>
                    </div>

                    <div class="banner-list__item-title">
                        Баннер 3
                    </div>

                </a>


                <a href="http://demo-markom.myinsales.ru/collection/frukty" data-block-id="12949931"
                   class="banner-list__item  editable-block">

                    <div class="img-ratio img-ratio_cover banner-list__item-photo">
                        <div class="img-ratio__inner">

                            <img src="static/img/Фото__6__1d2879a933a3707176ae5d4cd4532394.jpg" alt="Баннер 4">


                        </div>
                    </div>

                    <div class="banner-list__item-title">
                        Баннер 4
                    </div>

                </a>


                <a href="http://demo-markom.myinsales.ru/collection/ptitsa-myaso" data-block-id="12949932"
                   class="banner-list__item  editable-block">

                    <div class="img-ratio img-ratio_cover banner-list__item-photo">
                        <div class="img-ratio__inner">

                            <img src="static/img/Фото__7__bec50f5afcd16061faacc13bcc7058c7.jpg" alt="Баннер 5">


                        </div>
                    </div>

                    <div class="banner-list__item-title">
                        Баннер 5
                    </div>

                </a>

            </div>

        </div>
    </div>

<!--Вырезал (cut.html) -->


    <div
            class="layout widget-type_system_widget_v4_shop-reviews_1">
        <div class="layout__content">
            <div class="reviews">

                <div class="heading reviews__title">Отзывы клиентов</div>

                <div class="reviews__desktop">
                    <div class="grid-list masonry-reviews-list">

                        <div class="masonry-reviews-item editable-block"
                             data-block-id="12949902"
                        >
                            <div class="masonry-reviews-item__content">
                                <div class="reviews__head">

                                    <div class="reviews__name">
                                        Alexey
                                    </div>
                                </div>
                                <div class="reviews__text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque
                                        ultrices tincidunt. Sed malesuada ipsum tellus, eget auctor nisl luctus
                                        vitae. Duis nec eros turpis. Sed convallis felis dui, sed suscipit nisi
                                        lobortis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                        pellentesque ultrices tincidunt. Sed malesuada ipsum tellus, eget auctor
                                        nisl luctus vitae. Duis nec eros turpis. Sed convallis felis dui, sed
                                        suscipit nisi lobortis id.</p>
                                </div>
                                <div class="reviews__rating" data-rating="1.0">
                                    <span class="reviews__rating-star icon-star"></span>
                                    <span class="reviews__rating-star icon-star"></span>
                                    <span class="reviews__rating-star icon-star"></span>
                                    <span class="reviews__rating-star icon-star"></span>
                                    <span class="reviews__rating-star icon-star"></span>
                                </div>
                                <div class="reviews__date">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_feedback_1">
        <div class="layout__content">
            <div class="feedback">

                <div class="feedback__title heading">Обратная связь</div>

                <form method="post" action="/client_account/feedback" data-feedback-form-wrapper
                      class="feedback__form">
                    <div data-feedback-form-success='{"showTime": 10000}' class="h4 feedback__success-message">
                        Сообщение успешно отправлено!
                    </div>
                    <div class="feedback__fields">
                        <div class="grid-list grid-list_wide feedback__row">
                            <div data-feedback-form-field-area class="feedback__field-area">
                                <input name="name"
                                       data-feedback-form-field='{"isRequired": true, "errorMessage": "Необходимо заполнить поле Имя"}'
                                       type="text" value="" placeholder="Имя*"
                                       class="form-control form-control_size-l form-control_wide"/>
                                <div data-feedback-form-field-error class="feedback__field-error"></div>
                            </div>
                            <div data-feedback-form-field-area class="feedback__field-area">
                                <input name="from"
                                       data-feedback-form-field='{"isRequired": true, "errorMessage": "Неверно заполнено поле Email"}'
                                       type="text" value="" placeholder="Ваша почта*"
                                       class="form-control form-control_size-l form-control_wide"/>
                                <div data-feedback-form-field-error class="feedback__field-error"></div>
                            </div>
                        </div>

                        <div data-feedback-form-field-area class="feedback__field-area">
                                <textarea name="content"
                                          data-feedback-form-field='{"isRequired": true, "errorMessage": "Пожалуйста, введите сообщение"}'
                                          placeholder="Ваш вопрос, отзыв или пожелание*"
                                          class="form-control form-control_wide"></textarea>
                            <div data-feedback-form-field-error class="feedback__field-error"></div>
                        </div>


                        <div data-feedback-form-field-area class="feedback__field-area agree">
                            <label class="agree__checkbox">
                                <input data-feedback-form-agree='{"errorMessage": "Необходимо подтвердить согласие"}'
                                       name="agree" type="checkbox" value="" autocomplete="off"
                                       class="agree__field"/>
                                <span class="agree__content">
              <span class="agree__btn icon-check"></span>
                <span class="agree__label">
                  Настоящим подтверждаю, что я ознакомлен и согласен с условиями

                    оферты и политики конфиденциальности

                  *
                </span>
            </span>
                            </label>
                            <div data-feedback-form-field-error class="feedback__field-error"></div>
                        </div>


                        <input type="hidden" value="Форма обратной связи" data-feedback-form-field name="subject"/>

                        <div class="feedback__submit">
                            <button
                                    class="button button_size-l feedback__submit-btn"
                                    type="submit">Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


</main>

<div class="outside-widgets">

    <div
            class="layout widget-type_system_widget_v4_button_on_top_1"
            style="--button-view:bg; --icon-view:icon-arrow-up; --align:right; --size:1.5rem; --margin-bottom:1rem; --margin-side:1rem; --hide-desktop:false; --hide-mobile:true;"
    >
        <div class="layout__content">
            <button type="button" class="btn-on-top js-go-top-page">
                <span class="icon-arrow-up"></span>
            </button>
        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_callback_modal_1"
            style="--hide-field-content:true; --hide-use-agree:false; --layout-pt:2vw; --layout-pb:2vw; --layout-content-max-width:480px;"
    >
        <div class="layout__content">
            <div class="callback">
                <div class="callback__head">
                    <div class="callback__title">Обратный звонок</div>
                    <button type="button" class="button button_size-m callback__hide-btn js-hide-modal">
                        <span class="icon icon-times"></span>
                    </button>
                </div>
                <div class="callback__main">
                    <form method="post" action="/client_account/feedback" data-feedback-form-wrapper
                          class="callback__form">
                        <div data-feedback-form-success='{"showTime": 5000}' class="callback__success-message">
                            Запрос успешно отправлен!
                        </div>
                        <div class="callback__content">
                            <div class="callback__fields">
                                <div data-feedback-form-field-area class="callback__field-area">
                                    <div class="callback__field-label">
                                        Имя
                                        <span class="callback__field-label-star">*</span>
                                    </div>
                                    <input name="name"
                                           data-feedback-form-field='{"isRequired": true, "errorMessage": "Необходимо заполнить поле Имя"}'
                                           type="text" value=""
                                           class="form-control form-control_size-l form-control_wide"/>
                                    <div data-feedback-form-field-error class="callback__field-error"></div>
                                </div>

                                <div data-feedback-form-field-area class="callback__field-area">
                                    <div class="callback__field-label">
                                        Телефон
                                        <span class="callback__field-label-star">*</span>
                                    </div>
                                    <input
                                            name="phone"
                                            data-feedback-form-field='{"isRequired": true, "errorMessage": "Неверно заполнено поле Телефон", "phoneNumberLength": 11}'
                                            type="text" autocomplete="off"
                                            class="form-control form-control_size-l form-control_wide"/>
                                    <div data-feedback-form-field-error class="callback__field-error"></div>
                                </div>


                                <input name="content" data-feedback-form-field type="hidden" value="."/>


                                <div data-feedback-form-field-area class="callback__field-area agree">
                                    <label class="agree__checkbox">
                                        <input data-feedback-form-agree='{"errorMessage": "Необходимо подтвердить согласие"}'
                                               name="agree" type="checkbox" value="" class="agree__field"/>
                                        <span class="agree__content">
                  <span class="agree__btn icon-check"></span>
                    <span class="agree__label">
                      Настоящим подтверждаю, что я ознакомлен и согласен с условиями

                        оферты и политики конфиденциальности

                      <span class="callback__field-label-star">*</span>
                    </span>
                </span>
                                    </label>
                                    <div data-feedback-form-field-error class="callback__field-error"></div>
                                </div>


                                <input name="from" data-feedback-form-field type="hidden"
                                       value="vladimir.ivanin@insales.ru"/>
                                <input type="hidden" value="Обратный звонок" data-feedback-form-field
                                       name="subject"/>


                                <div class="callback__field-area">
                                    <button
                                            class="button button_size-l button_wide callback__submit-btn"
                                            type="submit">Отправить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_preorder_1"
            style="--hide-use-agree:false; --layout-pt:2vw; --layout-pb:2vw; --layout-content-max-width:480px;"
    >
        <div class="layout__content">
            <div class="preorder">
                <div class="preorder__head">
                    <div class="preorder__title">Предзаказ</div>
                    <button type="button" class="button button_size-m preorder__hide-btn js-hide-preorder">
                        <span class="icon icon-times"></span>
                    </button>
                </div>
                <div class="preorder__main">
                    <form method="post" action="/client_account/feedback" data-feedback-form-wrapper
                          class="preorder__form">
                        <input type="hidden" value="" name="is-preorder-form"/>
                        <div data-feedback-form-success='{"showTime": 5000}' class="preorder__success-message">
                            Предзаказ успешно отправлен!
                        </div>
                        <div class="preorder__content">
                            <div class="preorder__fields">
                                <div data-feedback-form-field-area class="preorder__field-area">
                                    <div class="preorder__field-label">
                                        Имя
                                        <span class="preorder__field-label-star">*</span>
                                    </div>
                                    <input name="name"
                                           data-feedback-form-field='{"isRequired": true, "errorMessage": "Необходимо заполнить поле Имя"}'
                                           type="text" value=""
                                           class="form-control form-control_size-l form-control_wide"/>
                                    <div data-feedback-form-field-error class="preorder__field-error"></div>
                                </div>

                                <div data-feedback-form-field-area class="preorder__field-area">
                                    <div class="preorder__field-label">
                                        Телефон
                                        <span class="preorder__field-label-star">*</span>
                                    </div>
                                    <input
                                            name="phone"
                                            data-feedback-form-field='{"isRequired": true, "errorMessage": "Неверно заполнено поле Телефон", "phoneNumberLength": 11}'
                                            type="text" autocomplete="off"
                                            class="form-control form-control_size-l form-control_wide"/>
                                    <div data-feedback-form-field-error class="preorder__field-error"></div>
                                </div>


                                <div data-feedback-form-field-area class="preorder__field-area agree">
                                    <label class="agree__checkbox">
                                        <input data-feedback-form-agree='{"errorMessage": "Необходимо подтвердить согласие"}'
                                               name="agree" type="checkbox" value="" class="agree__field"/>
                                        <span class="agree__content">
                  <span class="agree__btn icon-check"></span>
                    <span class="agree__label">
                      Настоящим подтверждаю, что я ознакомлен и согласен с условиями оферты и политики конфиденциальности

                      <span class="preorder__field-label-star">*</span>
                    </span>
                </span>
                                    </label>
                                    <div data-feedback-form-field-error class="preorder__field-error"></div>
                                </div>


                                <input name="from" data-feedback-form-field type="hidden"
                                       value="vladimir.ivanin@insales.ru"/>
                                <input type="hidden" value="Предзаказ" data-feedback-form-field name="subject"/>
                                <input type="hidden" data-preorder-product-label="Товар: "
                                       data-preorder-variant-label="Вариант: " value="" name="content"
                                       data-feedback-form-field/>


                                <div class="preorder__field-area">
                                    <button
                                            class="button button_size-l button_wide preorder__submit-btn"
                                            type="submit">Отправить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_alerts"
            style=""
    >
        <div class="layout__content">

            <!--Alerts-->

            <div
                    class="micro-alerts"
                    data-micro-alerts-settings='{


  "success_feedback": "✓ Сообщение успешно отправлено",


  "success_cart": "✓ Товар добавлен в корзину",


  "add_item_compares": "✓ Товар добавлен в сравнение",


  "remove_item_compares": "Товар удален из сравнения",


  "add_item_favorites": "✓ Товар добавлен в избранное",


  "remove_item_favorites": "Товар удален из избранного",


  "overload_compares": "⚠ Достигнуто максимальное количество товаров для сравнения",


  "overload_quantity": "⚠ Достигнуто максимальное количество единиц товара для заказа",


  "success_preorder": "✓ Предзаказ успешно отправлен"

}'>
            </div>
        </div>
    </div>


    <div
            class="layout widget-type_system_widget_v4_notification_add_to_cart_1"
            style="--layout-pt:2vw; --layout-pb:2vw; --layout-content-max-width:750px;"
    >
        <div class="layout__content">
            <div class="notification">
                <div class="notification__head">
                    <div class="notification__title">Добавить в корзину</div>
                    <button type="button" class="button button_size-m notification__hide-btn js-hide-notification">
                        <span class="icon icon-times"></span>
                    </button>
                </div>
                <div class="notification__content">
                    <div class="notification-product">
                        <div class="notification-product__photo"></div>
                        <div class="notification-product__title"></div>
                        <div class="notification-product__info">
                            <div class="notification-product__price"></div>
                            <div class="notification-product__count"></div>
                        </div>
                        <div class="notification-product__controls">
                            <button type="button"
                                    class="button notification-product__close-btn js-hide-notification">Вернуться к
                                покупкам
                            </button>
                            <a class="button notification-product__to-cart" href="/cart_items">Перейти в корзину</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock content %}

    {% block script %}
        <script src="/static/js/script-main.js"></script>
    {% endblock script %}